/*
font-family: 'Lexend Deca', sans-serif;
font-family: 'Big Shoulders Display', cursive;*/

body{
background-color: hsl(0, 0%, 95%);
height: 100%;
margin: 0;
padding: 0;
line-height: 1.5;
}

.columns{
display: flex;
align-items: center;
align-content: center;
justify-content: center;
margin: 8em;


}

.column1{
background-color: hsl(31, 77%, 52%);
width: 12em;
height: 25em;
padding: 2em 2.5em 0 2.5em;

}

.column2{
background-color: hsl(184, 100%, 22%);
width: 12em;
height: 25em;
padding: 2em 2.5em 0 2.5em;
}

.column3{
background-color: hsl(179, 100%, 13%);
width: 12em;
height: 25em;
padding: 2em 2.5em 0 2.5em;

}

.column1 p, .column2 p, .column3 p{
color: hsla(0, 0%, 100%, 0.75);
font-family: 'Lexend Deca', sans-serif;
font-size: 0.8em;
width: 14em;
}

.column1 h1, .column2 h1, .column3 h1{
color: hsl(0, 0%, 95%);
font-family: 'Big Shoulders Display', cursive;
font-size: 2em;
text-transform: uppercase;
}

button{
cursor: pointer;
background-color: hsl(0, 0%, 95%);
border-radius: 20px;
border: 2px solid hsl(0, 0%, 95%) ;
height: 3em;
width: 9em;
margin-top: 4em;
font-family: 'Lexend Deca', sans-serif;
}

.btn1{
color: hsl(31, 77%, 52%);
}

.btn1:hover{
background-color: hsl(31, 77%, 52%);
color: hsl(0, 0%, 95%);
transition: 1s;
}

.btn2{
color: hsl(184, 100%, 22%);
}

.btn2:hover{
background-color: hsl(184, 100%, 22%);
color: hsl(0, 0%, 95%);
transition: 1s;
}

.btn3{
color: hsl(179, 100%, 13%);
}

.btn3:hover{
background-color: hsl(179, 100%, 13%);
color: hsl(0, 0%, 95%);
transition: 1s;
}


@media screen and (min-width: 1440px) {

body{
background-color: hsl(0, 0%, 95%);
height: 100%;
margin: 0;
padding: 0;
line-height: 1.5;
}

.columns{
display: flex;
align-items: center;
align-content: center;
justify-content: center;
margin: 8em;


}

.column1{
background-color: hsl(31, 77%, 52%);
width: 12em;
height: 25em;
padding: 2em 2.5em 0 2.5em;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}

.column2{
background-color: hsl(184, 100%, 22%);
width: 12em;
height: 25em;
padding: 2em 2.5em 0 2.5em;
}

.column3{
background-color: hsl(179, 100%, 13%);
width: 12em;
height: 25em;
padding: 2em 2.5em 0 2.5em;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.column1 p, .column2 p, .column3 p{
color: hsla(0, 0%, 100%, 0.75);
font-family: 'Lexend Deca', sans-serif;
font-size: 0.8em;
width: 14em;
}

.column1 h1, .column2 h1, .column3 h1{
color: hsl(0, 0%, 95%);
font-family: 'Big Shoulders Display', cursive;
font-size: 2em;
text-transform: uppercase;
}

button{
cursor: pointer;
background-color: hsl(0, 0%, 95%);
border-radius: 20px;
border: 2px solid hsl(0, 0%, 95%) ;
height: 3em;
width: 9em;
margin-top: 4em;
font-family: 'Lexend Deca', sans-serif;
}

.btn1{
color: hsl(31, 77%, 52%);
}

.btn1:hover{
background-color: hsl(31, 77%, 52%);
color: hsl(0, 0%, 95%);
transition: 1s;
}

.btn2{
color: hsl(184, 100%, 22%);
}

.btn2:hover{
background-color: hsl(184, 100%, 22%);
color: hsl(0, 0%, 95%);
transition: 1s;
}

.btn3{
color: hsl(179, 100%, 13%);
}

.btn3:hover{
background-color: hsl(179, 100%, 13%);
color: hsl(0, 0%, 95%);
transition: 1s;
}
}

@media screen and (max-width: 800px) {

body{
background-color: hsl(0, 0%, 95%);
height: 100%;
margin: 0;
padding: 0;
line-height: 1.5;
}

.columns{
display: flex;
flex-direction: column;
align-items: center;
align-content: center;
justify-content: center;
padding: 6em;
}

.column1{
background-color: hsl(31, 77%, 52%);
width: 12em;
height: 25em;
padding: 2em 2.5em 0 2.5em;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.column2{
background-color: hsl(184, 100%, 22%);
width: 12em;
height: 25em;
padding: 2em 2.5em 0 2.5em;
}

.column3{
background-color: hsl(179, 100%, 13%);
width: 12em;
height: 25em;
padding: 2em 2.5em 0 2.5em;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}

.column1 p, .column2 p, .column3 p{
color: hsla(0, 0%, 100%, 0.75);
font-family: 'Lexend Deca', sans-serif;
font-size: 0.8em;
width: 14em;
}

.column1 h1, .column2 h1, .column3 h1{
color: hsl(0, 0%, 95%);
font-family: 'Big Shoulders Display', cursive;
font-size: 2em;
text-transform: uppercase;
}

button{
cursor: pointer;
background-color: hsl(0, 0%, 95%);
border-radius: 20px;
border: 2px solid hsl(0, 0%, 95%) ;
height: 3em;
width: 9em;
margin-top: 4em;
font-family: 'Lexend Deca', sans-serif;
}

.btn1{
color: hsl(31, 77%, 52%);
}

.btn1:hover{
background-color: hsl(31, 77%, 52%);
color: hsl(0, 0%, 95%);
transition: 1s;
}

.btn2{
color: hsl(184, 100%, 22%);
}

.btn2:hover{
background-color: hsl(184, 100%, 22%);
color: hsl(0, 0%, 95%);
transition: 1s;
}

.btn3{
color: hsl(179, 100%, 13%);
}

.btn3:hover{
background-color: hsl(179, 100%, 13%);
color: hsl(0, 0%, 95%);
transition: 1s;
}

}